*{font-family:arial;}
.baner, .glowny
    {
        background-color:rgb(220,220,220);
        padding: 20px;
        text-align: center;
    }
.prawy, .lewy
    {
    background-color: rgb(255,127,80);
    color:white;
    width: 50%;
    height: 410px;
    }
    .lewy{
        float: left;
    }
    .prawy{
        float: right
    }

.stopka_1, .stopka_p
    {
        background-color:rgb(255, 127, 80);
        color: #fff;
        width: 50%;
        height: 100px;
    }
    .stopka_1
    {
        float: left;
    }
    .stopka_p
    {
        float:right;
    }
table, td 
    {
        border: 1px solid rgb(255,127,80);
        padding: 10px;
        text-align: center;
    }
a 
    {
        color:white;
    }
